@use '../../../styles' as *;

.#{$component} {
    &-variant0-block2 {
        grid-area: block2;

        &__col1 {
            display: flex;
            flex-direction: column;
            gap: spacing(6);

            article {
                width: 100%;
                max-width: unset;
            }

            &-bottom {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                gap: spacing(8);

                @include desktop {
                    flex-direction: row;
                }
            }
        }
    }
}
