@use '../styles' as *;

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    margin: 0 auto;
    padding: 16px;

    @include desktop {
        width: 1120px;
        padding: 32px 0;
    }
}
