@use '../styles' as *;

.#{$component} {
    &.is-layout-1 {
        display: grid;

        grid-template-areas:
            'block2'
            'block1'
            'block3';

        gap: spacing(8);

        @include desktop {
            grid-template-columns: 1fr minmax(0, 544px);
            grid-template-areas:
                'block2 block1'
                'block3 block3';
        }
    }
}
