@use '../styles' as *;

.#{$component} {
    &.is-variant-0 {
        display: grid;

        grid-template-areas:
            'block2'
            'block1';

        gap: spacing(8);

        @include desktop {
            grid-template-columns: 1fr minmax(0, 544px);
            grid-template-areas: 'block2 block1';
        }
    }

    &.is-variant-1 {
        display: grid;

        grid-template-areas:
            'block1'
            'block2'
            'block3';

        gap: spacing(10);

        @include desktop {
            grid-template-columns: 1fr minmax(0, 256px) minmax(0, 256px);
            grid-template-areas: 'block1 block2 block3';
        }
    }
}
